<div class="container"><center><h1 style="font-family: 'Reggae One' ;"> Do you invest to grow or invest for show?  </h1></center></div>
 
<div class="jumbotron">
<h1> {{stock.companyName}}  {{ stock.symbol }} </h1>

<br>
<strong>Latest Price: </strong>${{ stock.latestPrice }}<br>
<strong>Previous Close: </strong>${{ stock.previousClose }}<br>
<strong>Percent Change: </strong>{{ stock.changePercent }}%<br>
<strong>Change: </strong>${{ stock.change }}<br>
<strong>Market Cap: </strong>${{ stock.marketCap }}<br>
<strong>YTD Change: </strong>{{ stock.ytdChange }}%<br>
<strong>52wk High: </strong>{{ stock.week52High }}<br>
<strong>52wk Low: </strong>{{ stock.week52Low }}<br>
<strong>Extended Price: </strong>${{ stock.extendedPrice }}<br>
<strong>Extended Change: </strong>${{ stock.extendedChange }}<br>
<strong>Extended Change Percent: </strong>{{ stock.extendedChangePercent }}%<br>
</br>
<a href="https://iexcloud.io/s/1454b7c1 " class="active"> Data provided by IEX Cloud </a><br>

</br>
</br>

<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Curious about investing?</h5>
    <p class="card-text">No worries. I took some of the guess work out of 'where to start' for you. </p>
    <a href="https://www.fool.com/investing/top-stocks-to-buy/" class="btn btn-danger"> Top 25 Stocks by Anand Chokkavelu, CFA
</a>
  </div>
  
</br>
</br>

